<h1>Manage your Privacy Settings</h1>

  <%= form_for @privacy, :html => {:class => "form-group"}, :url => {:action => 'update'} do |f| %>
<table>
  <tr>
    <th></th>
    <th>Show</th>
    <th>Hide</th>
  </tr>
  <tr>
    <td><%= f.label :Email %>:</td>
    <td><%= f.radio_button :email_allowed, 'true'  %></td>
    <td><%= f.radio_button :email_allowed, 'false' %><br></td>
  </tr>
  <tr>
    <td><%= f.label :Organization %>:</td>
  	<td><%= f.radio_button :organisation_allowed, 'true' %></td>
    <td><%= f.radio_button :organisation_allowed, 'false' %><br></td>
  </tr>
  <tr>
    <td><%= f.label :Membership_Expiration %>:</td>
    <td><%= f.radio_button :membership_allowed, 'true' %></td>
    <td><%= f.radio_button :membership_allowed, 'false' %><br></td>
  </tr>
  <tr>
    <td><%= f.label :Reviews %>:</td>
    <td><%= f.radio_button :reviews_allowed, 'true' %></td>
    <td><%= f.radio_button :reviews_allowed, 'false' %><br></td>
  </tr>
  <tr>
  <td><%= f.submit "Update" %></td>
  </tr>
  </table>
<% end %>