<center>
  <h1>Request Member Access</h1>
  <p>Building community knowledge is only moments away...</p>
</center>

<div class="alert">
<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %>
<% end %>
</div>

<%= form_for @user, html: {class: "form-group"} do |f| %>
	<%= f.label :title %>
  <%= f.text_field :title %><br>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>
  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :organisation %><br><span> (If your organization is not listed, please choose <strong>*New CPA Partner*</strong>.)</span>
  <%= f.select(:organisation_id) do %>
    <%= content_tag(:option, 'Choose an Organisation', {value: nil, selected: "selected", disabled: true}) %>
    <% @organisations.each do |c| -%>
      <%= content_tag(:option, c.name, value: c.id) %>
    <% end %>
  <% end %>  

  <%= f.label :password %>
  <%= f.password_field :password, class: 'form-group password'%><br>
  <%= f.submit "Submit" %>
<% end %>


