<%# /users/:id/show %>

<div class="user-info">
	<h1><%= @user.full_name %> <% if @ambassador %> - Membership Ambassador <%end%><% if @user.is_admin?%> - Admin<%end%></h1>

	<% if admin? && @user.id == session[:user_id] %>
	  <%= link_to "View/Manage Users", admin_users_path %>
	  <% unless @user.is_admin? %>
		  <%= form_for @roles, url: url_for(controller: "roles", action: "admin" ) do |f| %>
		  <%= hidden_field_tag "user_id", @user.id %>
		  <%= f.submit "Make #{@user.full_name} Admin" %>
		 	<% end %>
		<% end %>
		<% unless @user.member? || @user.is_admin? %>
		<p><%=@user.full_name%>'s membership is currently pending</p>
			<%= form_for @roles, url: url_for(controller: "roles", action: "member") do |f| %>
			<%= hidden_field_tag "user_id", @user.id %>
			<%= f.submit "Approve Membership" %>
			<% end %>
		<% end %>
	<% end %>

<%= link_to "View your Uploaded Documents", documents_path %>

	<% if @user.id == session[:user_id] %>
		<%= link_to "Edit Your Profile", edit_user_path(@user) %>
		<%= link_to "Privacy Settings", edit_privacy_path(@user) %>
	<% end %>
	<% unless @ambassador %>
		<%= link_to "Become an Ambassador", new_role_path %>
	<% end %>
<br><br>
<% if @privacy.membership_allowed %>
	<h4>Membership Expiration: <%= @expiration %></h4>
<% end %>
<% if @privacy.organisation_allowed %>
	<h4>Organization: <%= @user.organisation.name %></h4>
<% end %>
<% if @privacy.email_allowed %>
	<h4>Email: <%= @user.email %></h4>
<% end %>

<% if @privacy.reviews_allowed %>
	<% if @reviews.length > 0 %>
		<h3>Recent Reviews</h3>
		<div class = "reviews">
			<% @reviews.each do |review| %>
			<%= review.vendor.name %><br>
			<%= review.title %><br>
			<%= review.content %><br><br>
		<%end%>
		</div>
	<% end %>
<% end %>


