<h1><%= @user.full_name %></h1>

<% if @user.id == current_user.id %>
	<%= link_to "Edit Your Profile", edit_user_path(@user) %>
<% end %>

<h3>Organization: <%= @user.organisation.name %></h3>
<h3>Email: <%= @user.email %></h3>
<h3>Membership Expiration: <%= @expiration %>

<% if @reviews.length > 0 %>
	<h3>Recent Reviews</h3>
	<div class = "reviews">
		<% @reviews.each do |review| %>
		<%= review.vendor %><br>
		<%= link_to review.title, review %><br>
		<%= review.content %><br><br>
	<%end%>
	</div>
<%end%>