<h1><%= @user.full_name %></h1>
<% if admin? %>
  <%= link_to "Manage Users", admin_users_path %>
<% end %>

<% if @user.id == session[:user_id] %>
	<%= link_to "Edit Your Profile", edit_user_path(@user) %>
	<%= link_to "Privacy Settings", edit_privacy_path(@user) %>
<% end %>

<% if @privacy.membership_allowed %>
	<h3>Membership Expiration: <%= @expiration %></h3>
<% end %>
<% if @privacy.organisation_allowed %>
	<h3>Organization: <%= @user.organisation.name %></h3>
<% end %>
<% if @privacy.email_allowed %>
	<h3>Email: <%= @user.email %></h3>
<% end %>

<% if @privacy.reviews_allowed %>
	<% if @reviews.length > 0 %>
		<h3>Recent Reviews</h3>
		<div class = "reviews">
			<% @reviews.each do |review| %>
			<%= review.vendor.name %><br>
			<%= review.title %><br>
			<%= review.content %><br><br>
		<%end%>
		</div>
	<% end %>
<% end %>

