<h1><%= @user.full_name %>
	<% if @ambassador %>
	- Membership Ambassador
	<% end %>
</h1>

<% if admin? %>
  <%= link_to "Manage User", admin_users_path %>
  <% unless @user.admin? %>
	  <%= form_for @roles, url: url_for(controller: "roles", action: "admin" ) do |f| %>
	  <%= hidden_field_tag "user_id", @user.id %>
	  <%= f.submit "Make #{@user.full_name} Admin" %>
	 	<% end %>
	<% end %>
<% end %>

<% if @user.id == session[:user_id] %>
	<%= link_to "Edit Your Profile", edit_user_path(@user) %>
	<%= link_to "Privacy Settings", edit_privacy_path(@user) %>
	<% unless @ambassador %>
		<%= link_to "Become an Ambassador", new_role_path %>
	<% end %>
<% end %>

<% if @privacy.membership_allowed %>
	<h3>Membership Expiration: <%= @expiration %></h3>
<% end %>
<% if @privacy.organisation_allowed %>
	<h3>Organization: <%= @user.organisation.name %></h3>
<% end %>
<% if @privacy.email_allowed %>
	<h3>Email: <%= @user.email %></h3>
<% end %>

<% if @privacy.reviews_allowed %>
	<% if @reviews.length > 0 %>
		<h3>Recent Reviews</h3>
		<div class = "reviews">
			<% @reviews.each do |review| %>
			<%= review.vendor.name %><br>
			<%= review.title %><br>
			<%= review.content %><br><br>
		<%end%>
		</div>
	<% end %>
<% end %>

