
<%= react_component 'DeactivateUsersPanel', {data: @data}, authenticity_token: form_authenticity_token %>


<h2>Inactive Users</h2>

<% @inactive_users.each do |user| %>

  <% if user.first_name != nil && user.last_name != nil %>

    <h5><%= user.full_name %> | <%= user.id %> </h5>

  <% else %>

    <p>BAD NAME DATA</p>

  <% end %>

  <%= form_for [user] do |f| %>
    <%= f.hidden_field :status, :value => 'active' %>
    <%= f.submit "Make user active" %>
  <% end %>

<% end %>

<h1>All reviews</h1>

<table style="width:100%">
  <tr>
    <th>Organization</th>
    <th>Name</th>
    <th>Email</th>
    <th>Vendor Name</th>
    <th>Review</th>
    <th>Rating</th>
  </tr>

<% @users.each do |u| %>

    <% u.reviews.each do |r| %>

      <tr>
        <td><%= r.user.organisation.name %></td>
        <td><%= r.user.full_name %></td>
        <td><%= r.user.email %></td>
        <td><%= r.vendor.name %></td>
        <td><%= r.content %></td>
        <td><%= r.rating %></td>
      </tr>

    <% end %>
<% end %>

</table>
