<% if @reviews.length > 0 %>
<div class="emphasis-font">
</div>

	<div class = "reviews">
		<% @reviews.each do |review| %>

      <% if review.title %>
        <div id="name">
  		    Review of <%= link_to review.vendor.name, vendor_path(review.vendor.id) %> titled <%= link_to review.title, vendor_review_path(review.vendor_id, review.id) %> <br>
        </div>

      <% if review.rating %>
        <div class="star-rating" data-score=<%= review.rating %>></div>
  		  <br>
      <% end %>

      <% if review.content && review.user %>
        <%= review.content %><br>
        (Added by <%= link_to review.user.full_name, user_path(review.user.id) %> on <%= review.created_at.strftime("%B %d, %Y") %>)<br>
      <% end %>«


      <% end %>
      <br>
      <br>

    <% end %>
	</div>
<% end %>

<script type="text/javascript">
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>
