<h1><%= @user.full_name %> documents</h1>

<div class="alert">
<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %>
<% end %>
</div>

<div id="images">
	<% @documents.each do |document| %>
		<% if document.media? %>
			<div class="image">
			<%= image_tag document.media_url(:small) if document.media? && image?(document.media) %>
				<div class="image_name">
					<%= document.name %>
				</div>
				<% if admin? %>
					<%= document.user.full_name %> - 
					<%= document.user.email %>
				<% end %>
				<div>
					<%= link_to "view document", document_path(document) %>
				</div>
			</div>
		<% end %>
	<% end %>
</div>

<%= link_to "Upload a new document", new_document_path %> | 
<%= link_to "Back to your profile", user_path(@user) %>
