
<div class="alert">
<% if @errors %>
	<% @errors.each do |error| %>
		<%= error %>
	<% end %>
<% end %>
</div>

<h1>Upload a document or image from your device</h1>

<%= form_for [@document], html: {class: "form-group", multipart: true } do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.file_field :media, accept: 'image/*, .pdf, .doc, .docx, .xls, .xlsx', capture: "camera" %>
	<%= f.label :remote_media_url, "or document URL" %>
	<%= f.text_field :remote_media_url %>
	<%= f.submit "Upload" %>
<% end %>

<%= link_to "Back to your documents", documents_path %> | 
<%= link_to "Back to your profile", user_path(@user) %>
