
<div class="image">
	<%= image_tag @document.media_url if @document.media? && image?(@document.media) %>
	<div class="image_name">
		<%= @document.name %>
	</div>
	<%= link_to "download", download_path(@document) %>
	<% if admin? || current_user.id == @document.user.id %>
		<%= link_to "delete", document_path(@document), method: :delete %>
	<% end %>
</div>

<%= link_to "Back to your documents", documents_path %> | 
<%= link_to "Back to your profile", user_path %>