<h2>Vendors by Category</h2>

<div id="categories">
  <% @categories.each do |category| %>
    <h3><%= category.name %></h3>
      <ul>
        <% category.vendors.each do |vendor| %>
        <li><%= link_to vendor.name, vendor %> | <%= vendor.reviews.count %> CPA member reviews | Average rating: <%= vendor.avg_rating %></li>
        <% end %>
      </ul>
  <% end %>
</div>

<center>
<br>
  <h4>Can't find the Vendor you are looking for? <%= link_to 'Add them now!', new_vendor_path %> </h4>
</center>

