<div id="page-top">
<div id="vendor-information">
  <h1><%= @vendor.name %> </h1>

  <h4>Address: <%= @vendor.street_address %>, <%= @vendor.city %>, <%= @vendor.state %>, <%= @vendor.zip_code %></h4>
  <% if @vendor.phone %>
    <h4>Phone: <%= @vendor.phone %></h4>
  <% end %>
  <% if @vendor.email %>
    <h4>Email: <%= @vendor.email%></h4>
  <% end %>
  <% if @vendor.website %>
    <h4>Website: <%= @vendor.website%></h4>
  <% end %>

  <% if @vendor.categories.count > 0 %>
    <h3>Categories:</h3>
    <ul>
      <% @vendor.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  <% end %>
  <div id="review-link"><%=image_tag("outline-star.png")%><%= link_to "Write a Review", new_vendor_review_path(@vendor) %></div><br>
  <br>
<% if admin? %>
  <%= link_to "Update Vendor Information", edit_vendor_path(@vendor) %><br>
<% end %>
</div>

<div class="left">
<h3>Add a Service Category</h3>
<%= form_for [@vendor, @offering] do |f| %>
  <%= f.hidden_field :vendor_id, :value => params[:id] %>
            
  <% @categories.each do |category| %>
    <%= f.radio_button :category_id, category.id %>
    <%= f.label :category_id, category.name %><br>
  <% end %>
  <div class="form-group">          
  <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
</div>

<br><br>

<% if @reviews.length > 0 %>
  <h3>Recent Reviews</h3>
    <% @reviews.each do |review| %>
    <div class = "reviews">
      <div id="name">
      <%= review.user.full_name %> - 
      <%= link_to review.title, vendor_review_path(@vendor, review) %><br>
      </div>
      <%= review.rating %> stars<br><br>
      <%= review.content %><br>
      <% if review.votes.any? %>
        <div id="up-votes">
          <p><%= pluralize(review.votes.count, "member") %> found this review to be helpful.</p>
        </div>
      <% end %>

      <% if review.flagged %>
        <span><em>This review has been flagged as needing Admin Attention. </em></span>
      <% end %>
      <br>
      <div class="review-left">
      <%= form_for [@vendor, review, @vote] do |f| %>
        <%= f.hidden_field :helpful, :value => true %>
        <%= f.hidden_field :user_id, :value => session[:user_id] %>
        <%= f.hidden_field :review_id, :value => review.id %>
        <%= f.submit "Helpful?" %>
      <% end %>
      </div>
      <%= form_for [@vendor, review] do |f| %>
        <%= f.hidden_field :flagged, :value => true %>
        <%= f.submit "Flag this review as needing Admin Attention" %>
      <% end %>
      <br>
      </div>
    <% end%>
<% end %>

