<h1>Here is the page for <%= @vendor.name %>!</h1>

<h2>This vendor is in the following service categories:</h2>
<ul>
  <% @vendor.categories.each do |category| %>
    <li><%= category.name %></li>
  <% end %>
</ul>

<% if admin? %>
  <%= link_to "manage vendors", admin_vendors_path %>
<% end %>

<h3>Address: <%= @vendor.street_address %>, <%= @vendor.city %>, <%= @vendor.state %>, <%= @vendor.zip_code %></h3>
<h3>Phone: <%= @vendor.phone %></h3>
<h3>Email: <%= %></h3>
<h3>Website: <%= %></h3>

<%= link_to "Add a review of this vendor", new_vendor_review_path(@vendor) %>

<% if @reviews.length > 0 %>
	<h3>Recent Reviews</h3>
	<div class = "reviews">
		<% @reviews.each do |review| %>
		  <%= review.user.full_name %><br>
		  <%= link_to review.title, vendor_review_path(@vendor, review) %><br>
		  <%= review.rating %> stars<br>
		  <%= review.content %><br>

		  <% if review.flagged %>
            <p> This review has been flagged as nneeding admin attention. </p>
		  <% end %>

          <%= form_for [@vendor, review] do |f| %>
            <%= f.hidden_field :flagged, :value => true %>
            <%= f.submit "Flag this review as needing admin attention" %>
          <% end %>



        <% end%>
	</div>
      <% end %>

      <div>
        <h3>Add a service category for this vendor.</h3>
          <%= form_for [@vendor, @offering] do |f| %>
            <%= f.hidden_field :vendor_id, :value => params[:id] %>
            
            <% @categories.each do |category| %>
              <%= f.label :category_id, category.name %>
              <%= f.radio_button :category_id, category.id %>
            <% end %>
  	        
            <%= f.submit "Submit selected service category for this vendor" %>
          <% end %>

      </div>
