<div id="page-top">
<div id="vendor-information">
  <h1><%= @vendor.name %> </h1>

  <h4>Address: <%= @vendor.street_address %>, <%= @vendor.city %>, <%= @vendor.state %>, <%= @vendor.zip_code %></h4>
  <% if @vendor.phone != nil && @vendor.phone.length > 0 %>
    <h4>Phone: <%= @vendor.phone %></h4>
  <% end %>
  <% if @vendor.email != nil && @vendor.email.length >0 %>
    <h4>Email: <%= @vendor.email%></h4>
  <% end %>
  <% if @vendor.website != nil && @vendor.website.length > 0 %>
<% if admin? %>
  <%= link_to "Update Vendor Information", edit_vendor_path(@vendor) %><br>
<% end %>
    <h4>Website: <%= @vendor.website%></h4>
  <% end %>
  
  <% if @vendor.categories.count > 0 %>
    <h3>Categories:</h3>
    <ul>
      <% @vendor.categories.each do |category| %>
        <li><%= category.name %></li>
      <% end %>
    </ul>
  <% end %>
  <div id="review-link"><%=image_tag("outline-star.png")%><%= link_to "Write a Review", new_vendor_review_path(@vendor) %></div><br>
  <br><br>
<% if admin? %>
  <%= link_to "Update Vendor Information", edit_vendor_path(@vendor) %><br>
<% end %>
</div>

<div class="left">
<h3>Add a Service Category</h3>
<%= form_for [@vendor, @offering] do |f| %>
  <%= f.hidden_field :vendor_id, :value => params[:id] %>
            
  <% @categories.each do |category| %>
    <%= f.radio_button :category_id, category.id %>
    <%= f.label :category_id, category.name %><br>
  <% end %>
  <div class="form-group">          
  <%= f.submit "Submit" %>
  </div>
<% end %>
</div>
</div>

<%= render "shared/list_reviews", locals: { reviews: @reviews, vote: @vote} %>


