<h2>Edit this forum post.</h2>

<div class="form-group">
  <%= form_for @post do |f| %>
    <%= f.label :title %><br>
    <%= f.text_field :title %><br>

    <%= f.label :content %>
    <%= f.hidden_field :content, id: :content_body%>
    <trix-editor input="content_body"></trix-editor>

    <%= f.submit "Update post" %>
  <% end %>
</div>
