<% if admin? %>

<div class="admin-tools right">
  <h5> Admin Tools </h5>
  <ul>
    <li><%= link_to "Write a new post", new_post_path %>
  </ul> 
</div>
  
<% end %>

<%= link_to forum_path do %>
  <h1>forum</h1>
<% end %>

<p>
Welcome to the CPA forum! Here, CPA admins post helpful information from around the community.
</p>

<div class="forum-search">
	<%= form_tag forum_path, :method => 'get' do %>
    <%= label :title, :search, "Search posts by title words: " %>
    <%= text_field_tag :title_search, params[:title_search] %>
    <%= submit_tag "Search", :name => nil %>
	<% end %>
</div>

<% if @searched_posts != nil && @searched_posts.length > 0 %>
  <h1> Search returns: </h1>
  <%= render "shared/forum_posts", locals: { posts: @searched_posts } %>

<% elsif @searched_posts != nil %>
  <h3>No posts matched your search.</h3>

<% elsif @posts && @posts.length > 0 %>
  <div class="posts">
    <h1>recent posts</h1>
    <%= render "shared/forum_posts", locals: { posts: @posts } %>
  </div>
<%end %>