<h1>Welcome to the CPA forum.</h1>
<h3>Here you will find helpful posts from your loving leaders!</h3>

<% if admin? %>
  <h4>Hi, <%= @user.first_name %>: <%= link_to "Click here to create a new post", new_post_path %></h4>
  
<% end %>

<div>
  <p><strong>Search all posts using the forms below.  We have a very simple search algorithm, so keep it simple. (Example:
	  "HVAC" or "Pest")</strong></p>
	
	<%= form_tag forum_path, :method => 'get' do %>
	  <p>
	  	Search all Forum Posts by Title:
	    <%= text_field_tag :title_search, params[:title_search] %>
	    <%= submit_tag "Search", :name => nil %>
	  </p>
	<% end %>
</div>

<% if @searched_posts == nil %>
  <h3>__________________</h3>
<% elsif @searched_posts.length > 0 %>
  <h3> Here are the most recent posts that match your search: </h3>
  <% @searched_posts.each do |post| %>
    <p><%= post.title %></p>
    <p><%= post.content.html_safe %></p>
    <p>Written by: <%= post.user.full_name %></p><br>
    ______________________________
  <% end %>
  <h4>END OF SEARCH RESULTS</h4>
  <p>______________________________</p>
<% else %>
  <h3>No posts matched your search.</h3>
<% end %>

  <% if @posts && @posts.length > 0 %>
<div class="reviews">
  <h3>Here are the most recent forum posts:</h3>
    <% @posts.each do |post| %>
      <p><%= post.title %></p>
      <p><%= post.content.html_safe %></p>
      <p>Written by <%= post.user.full_name %> on <%= post.created_at.strftime("%B, %d, %Y") %></p><br>
      ______________________________
    <% end %>
</div>
<%end %>