<h1>Here is the location page for <%= @location.name.upcase %>.</h1>

<h3><%= @location.name %></h3>
<p><%= @location.street_address %></p>
<p><%= @location.city %>, <%= @location.state %>, <%= @location.zip_code %></p>
<p><%= @location.phone %></p>

<h4>Here are the members affiliated with this organisation.</h4>
  <ul>
    <%= @location.organisation.users do |user| %>
      <li>Representative: <%= link_to user.full_name, user %></li>
    <% end %>
  </ul>


