<h1>Location Information</h1>

<h3><%= @location.name %> - <%= @location.organisation.name %></h3>
<%= @location.street_address %><br>
<%= @location.city %>, <%= @location.state %>, <%= @location.zip_code %><br>
<%= @location.phone %><br>

<h3>CPA Members from this Organization</h3>
  <ul>
    <% @location.organisation.users.each do |user| %>
      <li><%= link_to user.full_name, user %> | <%= user.email %></li>
    <% end %>
  </ul>

