<!DOCTYPE html>
<html>
  <head>
    <title>Marvl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'layout' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <div class="left">
          <%# owl icon %>
          <%= image_tag('marvlowl.svg') %>
          <div class="brand">
            <h2>MARVL</h2> <%# linkify this %>
          </div>
        </div>
        <div class="right">
          <%# login/logout logic %>
        </div>
      </div>
    <%= yield %>
    </div>
  </body>
</html>
