<!DOCTYPE html>
<html>
  <head>
    <title>Marvl</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'layout' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <div class="left">
          <a href="/">
            <div class="brand">
              <%# owl icon %>
              <%= image_tag('marvlowl.svg') %>
              <h2>MARVL</h2> <%# linkify this %>
            </div>
          </a>
        </div> <%# /left %>

        <div class="right">
          <div class="session">
              <% if logged_in? %>
                <%= link_to current_user.first_name.downcase, my_home %>
              <% else %>
                <%= link_to 'login', login_path %>
              <% end %>
              <% if logged_in? %>
                <%= link_to 'logout', logout_path, {id: 'logout_link'} %>
              <% else %>
                <%= link_to 'join us', new_user_path  %>
              <% end %>
          </div>
        </div> <%# /right %>

        <div class="stripe">
          <div class="stripe-inner">
            <span class="goto">
              goto: 
            </span>
            
            <% if logged_in? %>
              <%= link_to "find a vendor", vendors_path %>
              <span class="separator"></span>
              <%= link_to "reviews", reviews_path %>
              <span class="separator"></span>
              <%= link_to "forum", forum_path  %>
              <span class="separator"></span>
              <%= link_to "our members", users_path %>
            <% else %>
              <%= link_to "find a vendor", samplevendors_path %>
            <% end %>
  
            <span class="separator"></span>
            <%= link_to "ambassadors", ambassadors_path %>

            <% if logged_in? %>
              <span class="separator"></span>
              <%= link_to "document uploader" , new_document_path(session[:user_id]) %>
            <% end %>
          </div>
        </div> <%# /stripe %>
      </div> <%# /nav %>

      <main>
        <%= yield %>
      </main>

      <footer>
        <section class="footer"> 
          <div class="left">
            <p>MARVL is brought to you by the</p>
            <a target="_blank" href="http://cpa.coop">
              <img class="cpa-logo-footer" src="http://cpa.coop/wp-content/themes/cpa_wp2015/assets/images/cpa_logo_stacked.png">
            </a>
          </div>

          <div class="contact-column right">
            <span>1226 Vermont Ave, NW, Suite 200</span><br>
            <span>Washington DC 20005</span><br>
            <span><a href="tel:202-810-2725">202-810-2725</a></span><br>
            <span><a href="mailto:info@cpa.coop">info@cpa.coop</a></span><br>
          </div>
        </section>
      </footer>
    </div> <%# /container %>

    <script>
      $('a#logout_link').on('click', function(){
        event.preventDefault();
        $.ajax({
          url: '/logout',
          method: 'DELETE'
        })
      });
      $('#star').raty({
        starOn: '<%= image_path('star-on.png') %>',
        starOff: '<%= image_path('star-off.png') %>',
        path: '',
        scoreName: 'star',
        space: true 
      });
      $('.star-rating').raty({
        starOn: '<%= image_path('star-on.png') %>',
        starOff: '<%= image_path('star-off.png') %>',
        path: '',
        readOnly: true,
        scoreName: 'vendor rating',
        score: function () {
          return $(this).attr('data-score');
        }
      });

    </script>

  </body>
</html>
