<!DOCTYPE html>
<html>
  <head>
    <title>Marvl</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'layout' %>
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="nav">
        <div class="left">
          <div class="brand">
            <%# owl icon %>
            <%= image_tag('marvlowl.svg') %>
            <h2>MARVL</h2> <%# linkify this %>
          </div>
        </div>
        <div class="right">
          <%# login/logout logic %>
        </div>
        <div class="stripe">
          <div class="stripe-inner">
          <span class="goto">goto: </span>
          <%= link_to "find a vendor", vendors_path %>
          <span class="separator"></span>
          <%= link_to "reviews", reviews_path %>
          <span class="separator"></span>
          <%= link_to "forum", forum_path  %>
          <span class="separator"></span>
          <%= link_to "our members", users_path %>
          <span class="separator"></span>
          <%= link_to "ambassadors", ambassadors_path %>
          <span class="separator"></span>
          <%= link_to "document uploader" , new_user_document_path(session[:user_id]) %>
        </div>
      </div>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
